<div class="container" [formGroup]="controlsGroup">
    <h1>Добавить задание</h1>
    <tui-input class='container__name_field' formControlName="name">
        Название задания
        <input tuiTextfield placeholder="" type="text" />
    </tui-input>
    <tui-input class='container__description_field' formControlName="description">
        Описание задания
        <input tuiTextfield placeholder="" type="text" />
    </tui-input>
    <tui-input class='container__deadline_field' formControlName="deadline">
        Срок выполнения
        <input tuiTextfield placeholder="" type="text" />
    </tui-input>
    <tui-input class='container__count_mark_field' formControlName="countMarks">
        Количество оценок
        <input tuiTextfield placeholder="" type="text" />
    </tui-input>
    <tui-input class='container__description_mark_field' formControlName="descriptionMark">
        Описание оценки
        <input tuiTextfield placeholder="" type="text" />
    </tui-input>
    <button tuiButton type="button" [disabled]="!controlsGroup.valid" appearance="accent" class="container__button" (click)="createTask()">
        Добавить задание
    </button>
</div>