.container {
    margin: 15% auto;
    display: block;
    width: 500px;
    height: auto;
    line-height: 130px;

    &__404 {
        font-size: 80px;
        text-align: center;
        font-weight: bold;

        &__number {
            color: rgb(110, 87, 224);
        }
    }

    &__page-not-found {
        font-size: 24px;
        text-align: center;
    }
}