<div class="container" *ngIf="room$ | async as room">
    <div class="container__menu">
        <ul>
            <li [ngClass]="{'container__menu__current' : currentMenu === 'room'}" (click)="changeStateHandler('room')">
                Комната
            </li>
            <li [ngClass]="{'container__menu__current' : currentMenu === 'members'}"
                (click)="changeStateHandler('members')">
                Участники</li>
            <li [ngClass]="{'container__menu__current' : currentMenu === 'works'}"
                (click)="changeStateHandler('works')">Работы
                участников</li>
        </ul>
    </div>
    <div class="container__info">
        <div *ngIf="currentMenu === 'room'">
            <h1>{{room.title}}</h1>
            <span class="container__info__add_task" (click)="createTask()">Добавить задание</span>
        </div>

        <div *ngIf="currentMenu === 'addTask'">
            <add-task [id]="roomId" (addedTask)="taskSuccessHandler()"></add-task>
        </div>
    </div>
</div>