<div *ngIf="user$ | async as user" class="header">
    <div class="header__menu">
        <div [ngClass]="{'header__menu__current': currentItem === 'rooms'}" (click)="navigatePage('rooms')">Мои комнаты</div>
        <div [ngClass]="{'header__menu__current': currentItem === 'works'}" (click)="navigatePage('works')">Мои работы</div>
    </div>
    <div class="header__username">
        <div (click)="exit()">
            {{user.name.lastName}} {{user.name.firstName}}
        </div>
    </div>
</div>
<router-outlet></router-outlet>