.room {
    &__empty {
        margin: 100px auto;
        width: 47%;

        &__alert {
            font-weight: bold;
            font-size: 80px;
            line-height: 1;
        }

        &__container {
            width: 60%;
            margin: 40px auto;
        }

        &__code_field {
            border-radius: 0;
            width: 100%;
        }

        &__button_login {
            border-radius: 0;
            width: 100%;
            margin-top: 40px;
        }
    }
}

.container {
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;

    &__item {
        margin-bottom: 16px;
    }

    &__last {
        padding-bottom: 40vh;
    }

    &__create {
        color: #FE7451;
        font-size: 24px;
        margin-bottom: 55px;
        cursor: pointer;
    }
}