<div class='wrapper'>
    <form class="b-form" [formGroup]="controlsGroup">
        <div>
            <tui-input class='b-form__email_field' formControlName="email">
                Адрес электронной почты
                <input tuiTextfield placeholder="mail@mail.ru" type="email" />
            </tui-input>
        </div>

        <div>
            <tui-input class='b-form__password_field' formControlName="passwordValue">
                Пароль
                <input tuiTextfield placeholder="" type="password" />
            </tui-input>
        </div>

        <div class="b-form__bottom_panel">
            <div>Забыли пароль?</div>
            <div (click)="toTeacherForm()">Я преподаватель</div>
        </div>

        <div>
            <button tuiButton type="button" [disabled]="!controlsGroup.valid" appearance="primary" class="b-form__button_login" (click)='submitForm()'>
                Войти
            </button>
        </div>
    </form>
</div>