<ng-container *ngIf="allRooms$ | async as room">
    <div class="container" *ngIf="room.length">
        <div class="container__create" (click)="createRoom()">Создать комнату</div>
        <div *ngFor="let i of room; last as l; let ind = index" class="container__item">
            <div [ngClass]="{'container__last': l}">
                <room-item [roomCount]="ind" [title]="i.title" [roomId]="i.id" (click)="toDetails(i.id)">
                </room-item>
            </div>
        </div>
    </div>

    <div class="room">
        <div class="room__empty">
            <ng-container *ngIf="!room.length">
                <div class="room__empty__alert">
                    У Вас еще нет ни одной комнаты
                </div>
                <div class="room__empty__container">
                    <button tuiButton type="button" appearance="accent" class="room__empty__button_login"
                        (click)="createRoom()">
                        Создать комнату
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>