<div class='wrapper'>
    <form class="b-form" [formGroup]="controlsGroup">
        <div>
            <tui-input class='b-form__username_field' formControlName="username">
                ФИО
                <input tuiTextfield placeholder="" type="text" />
            </tui-input>
        </div>

        <div>
            <tui-input class='b-form__university_field' formControlName="universityName">
                Учебное заведение
                <input tuiTextfield placeholder="" type="text" />
            </tui-input>
        </div>

        <div>
            <tui-input class='b-form__faculty_field' formControlName="faculty">
                Направление
                <input tuiTextfield placeholder="" type="text" />
            </tui-input>
        </div>

        <div>
            <tui-input class='b-form__group_field' formControlName="subject">
                Предмет
                <input tuiTextfield placeholder="" type="text" />
            </tui-input>
        </div>

        <div>
            <tui-input class='b-form__email_field' formControlName="email">
                Адрес электронной почты
                <input tuiTextfield placeholder="" type="email" />
            </tui-input>
        </div>

        <div>
            <tui-input class='b-form__password_field' formControlName="password">
                Пароль
                <input tuiTextfield placeholder="" type="password" />
            </tui-input>
        </div>

        <div>
            <tui-input class='b-form__password_field' formControlName="repeatPassword">
                Подтвердить пароль
                <input tuiTextfield placeholder="" type="password" />
            </tui-input>
        </div>

        <div>
            <tui-input class='b-form__socials_field' formControlName="socialNetworkLink">
                Ссылка на соцсеть
                <input tuiTextfield placeholder="" type="text" />
            </tui-input>
        </div>

        <div>
            <tui-input class='b-form__contacts_field' formControlName="contacts">
                Контакт для связи
                <input tuiTextfield placeholder="" type="text" />
            </tui-input>
        </div>

        <div>
            <button tuiButton type="submit" [disabled]="!controlsGroup.valid" appearance="accent" class="b-form__button_login" (click)="submitForm()">
                Зарегистрироваться
            </button>
        </div>
    </form>
</div>